@charset "utf-8";
.header {
    background-color: #333333;
    color: white;
    position: fixed;
    width: 100%;
    padding: 5px;
    left: 0;
    right: 0;
    z-index: 2000;
    top: 0;
    font-size: x-large;
    vertical-align: center;
}

.footer {
    background-color: #333333;
    color: white;
    position: fixed;
    width: 100%;
    padding: 5px;
    left: 0;
    right: 0;
    z-index: 2000;
    bottom: 0;
    font-size: small;
    text-align: center;
}

.text {
    padding: 1rem;
    width: 100%;
    position: relative;
}
